# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
*.pyc
# Data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Notebooks
.ipynb_checkpoints/

# Database
*.db
*.sqlite3

# Logs
logs/
*.log

# Docker
.dockerignore
filmfusion_env/